---
title: Home
---
{% include header.html %}
        <main>
            <h1>Daniel Douglas</h1>
            <h3>Web Developer</h3>
            <p>
                Hi Daniel Douglas here. I'm a web developer with 6 years experience who has a wide skill set including both design and development.
                I specialise in
                <span class="highlight">Angular</span>,
                <span class="highlight">JavaScript</span>,
                <span class="highlight">TypeScript</span>,
                <span class="highlight">Sass</span> with a sprinkling of
                <span class="highlight">C#</span>. My favorite tools for the job are Visual Code and Sketch.
            </p>
            <p>
                I am a firm believer in the design principle <span class="highlight">KISS (Keep It Simple Stupid)</span>.
                Whether you are coding the next big thing or designing the UI, simplicity is the key. One of my favourite quotes is  
                “Good design is invisible; Bad design is everywhere”. Yep, all your good work on the internet will go unnoticed but 
                if you do anything bad you will find out pretty quickly.
            </p>
            <p>
                If I'm not working then I'm probably perfecting my latest batch of
                <span class="highlight">homemade rhubarb wine</span> or in the
                <span class="highlight">gym</span>
                working off the calories from the last batch of homemade rhubarb wine. I also have one of those little human beings in my
                life that likes to keep me busy.
            </p>
        </main>
        <aside>
            <!-- <h3>Languages</h3>
            <ul>
                <li>HTML 5</li>
                <li>CSS/SASS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>C#</li>
                <li>Swift</li>
                <li>PHP</li>
            </ul>

            <h3>Frameworks</h3>
            <ul>
                <li>Angular</li>
                <li>AngularJs</li>
                <li>Ionic</li>
                <li>Bootstrap</li>
                <li>.Net</li>
                <li>Entity Framework</li>
                <li>Jasmine</li>
            </ul> -->
        </aside>
        {% include footer.html %}
