---
title: Home
---
{% include header.html %}
<main>
    <h1>Daniel Douglas</h1>
    <h3>Web Developer</h3>
    <p>
        Hi Daniel Douglas here. I'm a web developer with 6 years experience who has a wide skill set including both design and development.
        I specialise in
        <span class="highlight">Angular</span>,
        <span class="highlight">JavaScript</span>,
        <span class="highlight">TypeScript</span>,
        <span class="highlight">Sass</span> and
        <span class="highlight">.Net</span>. I am a firm believer in the design principle
        <span class="highlight">KISS (Keep It Simple Stupid)</span>.
    </p>
    <p>
        I live in sunny <span class="highlight">Bournemouth</span> on the south coast of the UK (yes sunny) where you have a beach, a forest and some amazing
        restaurants... what more could you ask for?        
    </p>
    <p>
        If I'm not working then I'm probably perfecting my latest batch of
        <span class="highlight">homemade rhubarb wine</span> or in the
        <span class="highlight">gym</span>
        working off the calories from the last batch of homemade rhubarb wine. I also have one of those little human beings in my
        life that likes to keep me busy.
    </p>
</main>
<aside>

</aside>
{% include footer.html %}