<html>
<title>dandouglas.net</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" />
<link rel="stylesheet" href="/main.css">

<body>
    <nav id="menu">
        <header class="dd-header">
            <ul class="navlist">
                <li>
                    <a class="active" href="/index.html">Home</a>
                </li>
                <li>
                    <a href="/blog/index.html">Blog</a>
                </li>
                <li>
                    <a class="line-through">Work</a>
                </li>
                <li>
                    <a class="line-through">Contact</a>
                </li>
            </ul>
        </header>
    </nav>
    <div id="panel" class="content">
        <header class="dd-header">
            <nav>
                <button class="toggle-button">☰</button>
                <ul class="navlist">
                    <li>
                        <a class="active" href="/index.html">Home</a>
                    </li>
                    <li>
                        <a href="/blog/index.html">Blog</a>
                    </li>
                    <li>
                        <a class="line-through">Work</a>
                    </li>
                    <li>
                        <a class="line-through">Contact</a>
                    </li>
                </ul>
            </nav>
            <picture class="profile-pic">
                <source srcset="/assets/images/portrait.png" type="image">
                <img src="/assets/images/portrait.png" alt="Photo of Daniel Douglas">
            </picture>
        </header>