// @font-face { font-family: Avenir; font-weight: normal; src: url(assets/avenir-font/AvenirLTStd-Book.otf); } 
// @font-face { font-family: Avenir; font-weight: bold; src: url(assets/avenir-font/AvenirLTStd-Roman.otf);}
// @font-face { font-family: Avenir; font-weight: lighter; src: url(assets/avenir-font/AvenirLTStd-Light.otf);}

@font-face { font-family: Rubik; font-weight: 400; src: url(assets/rubik-font/Rubik-Regular.otf); } 
@font-face { font-family: Rubik; font-weight: 700; src: url(assets/rubik-font/Rubik-Bold.otf);}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Rubik', 'sans-serif'; //'Avenir', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $color-text;
    background: $gray-10;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    padding-left: 2em;

    h1 {
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
    }

    p {
        line-height: 2.0;
    }

    @media (max-width: $device-width) {
        padding-right: 2em;
        padding-top: 1em;
        text-align: justify;

        @supports (text-justify: inter-word) {
            main p {
                text-justify: inter-word;
            }
        }
    }
}
