// Variables
$content-padding: 40px;
$device-width: 768px;

$color-primary: #EB5B29;
$color-text: #1f1f1f;
$color-dark: #2F2F2F;

// Neutral Colors
$white: #fff;
$gray-01: #fdfdfd;
$gray-02: #f7f7f7;
$gray-03: #f7f9f9;
$gray-10: #eee;
$gray-15: #d9d9d9;
$gray-35: #a5a5a5;
$gray-50: #808080;
$gray-65: #595959;
$gray-73: #444444;
$gray-87: #222222;
$black: #000;